<div class="data-table">
    <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>
        <ng-container 
            *ngFor="let col of tableColumns; index as i"
            matColumnDef="{{ col.colId }}"
        >
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ col.colName }}</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row[col.colId] }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button *ngIf="actionsContainsDelete()" (click)="onDelete(row)"><mat-icon>delete_outline</mat-icon></button>
                <button mat-icon-button *ngIf="actionsContainsEdit()" (click)="onEdit(row)"><mat-icon>create</mat-icon></button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: visibleColumns"></mat-row>
    </mat-table>
    <mat-paginator 
        [pageSizeOptions]="[1,2,5,10,20]" 
        [pageSize]="5"
        [length]="objectList.length"
        showFirstLastButtons
        >
    </mat-paginator>
</div>