<mat-card class="mat-elevation-z8" style="background-color: #9bc8ee">
    <mat-card-header>
       {{ entertainmentActivity.entertainmentActivityName }}
    </mat-card-header>
    <hr>
    <div style="right: 0;top: 0;position: absolute;">
        <div>
            <button *ngIf="hasRights" mat-button title="Edit" (click)="onEditActivityClick()"><mat-icon>create</mat-icon></button>
            <br>
            <button *ngIf="hasRights" mat-button color="warn" (click)="onDeleteActivityClick()"title="Delete forever"><mat-icon>delete_forever</mat-icon></button>
        </div>
    </div>
    <mat-card-content>
        <h5> {{ entertainmentActivity.entertainmentActivityDescription }} </h5>
        <h6> Price per hour: {{ entertainmentActivity.entertainmentActivityPrice }} RON</h6>
        <h6> Max people allowed: {{ entertainmentActivity.maxPeopleAllowed }}</h6>
    </mat-card-content>
    <mat-card-actions>
       <button mat-button title="Book online" (click)="onBookOnlineClick()"><mat-icon>book_online</mat-icon></button>
    </mat-card-actions>
</mat-card>