<div *ngIf="!canRender" class="spinner-box">
    <app-spinner></app-spinner>
</div>
<div *ngIf="canRender" mat-dialog-title>Activity {{ entActivity.name }} Edit</div>
<div *ngIf="canRender" mat-dialog-content>
    <table class="display-data">
        <tr>
            <td><div>Price:</div></td>
            <td colspan="3">
                <input 
                    type="text"
                    class="form-control one-input input-text"
                    name="Price"
                    autocomplete="off"
                    [(ngModel)]="entActivityOutput.price"
                    placeholder="Price"
                >
            </td>
        </tr>
        <tr>
            <td><div>No. of max people:</div></td>
            <td colspan="3">
                <input type="text"
                    type="text"
                    class="form-control one-input input-text"
                    name="MaxPeopleAllowed"
                    [(ngModel)]="entActivityOutput.maxPeopleAllowed"
                    placeholder="Max people allowed"
                >
            </td>
        </tr>
    </table>
</div>
<div mat-dialog-actions>
    <div class="flex-display">
        <button mat-button class="btn btn-light button-action" (click)="onCancelModifications()">Cancel</button>
        <button mat-button class="btn btn-light button-action" (click)="onSaveModifications()">Save</button>
    </div>
</div>