<div style="overflow: hidden;">
    <app-statistics-search
        (searchStarted)="onSearchStarted()"
        (searchActivitiesEnded)="onSearchActivitiesEnded($event)"
        (searchPlacesEnded)="onSearchPlacesEnded($event)"
        (searchDatesEnded)="onSearchDatesEnded($event)"
        (searchHoursEnded)="onSearchHoursEnded($event)"
        (showAsEvent)="onShowAsEvent($event)"
    ></app-statistics-search>
    <div *ngIf="!canRender" class="spinner-box">
        <app-spinner></app-spinner>
    </div>
    <div *ngIf="canRender">
        <div *ngIf="showAs === 'table'">
            <app-abstract-table
                [tableId]="tableId"
                [objectList]="objects">
            </app-abstract-table>
        </div>
        <div *ngIf="showAs === 'bar'">
            <app-abstract-bar-chart
                [barChartLabels]="labels"
                [barChartData]="data">
            </app-abstract-bar-chart>
        </div>
        <div *ngIf="showAs === 'pie'">
            <app-abstract-pie-chart
                [pieChartLabels]="labels"
                [pieChartData]="data"
            >
            </app-abstract-pie-chart>
        </div>
    </div>
</div>
