<div *ngIf="!canRender" class="spinner-box" mat-dialog-content>
    <app-spinner></app-spinner>
</div>
<div mat-dialog-title>User Add</div>
<div *ngIf="canRender" mat-dialog-content>
    <table class="display-data">
        <tr>
            <td><div>Username:</div></td>
            <td colspan="3">
                <input 
                    type="text" 
                    class="form-control one-input input-text"
                    name="Username"
                    autocomplete="off"
                    [(ngModel)]="user.user.username"
                    required
                />
            </td>
        </tr>
        <tr>
            <td><div>Password:</div></td>
            <td colspan="3">
                <input 
                    type="password"
                    class="form-control one-input input-text"
                    name="Password"
                    autocomplete="off"
                    [(ngModel)]="user.user.password"
                    required
                />
            </td>
        </tr>
        <tr>
            <td><div>First name:</div></td>
            <td colspan="3">
                <input 
                    type="text"
                    class="form-control one-input input-text"
                    autocomplete="off"
                    [(ngModel)]="user.firstName"
                    required
                />
            </td>
        </tr>
        <tr>
            <td><div>Last name:</div></td>
            <td colspan="3">
                <input 
                    type="text"
                    class="form-control one-input input-text"
                    autocomplete="off"
                    [(ngModel)]="user.lastName"
                    required
                />
            </td>
        </tr>
        <tr>
            <td><div>Email:</div></td>
            <td colspan="3">
                <input 
                    type="text"
                    class="form-control one-input input-text"
                    autocomplete="off"
                    [(ngModel)]="user.email"
                    required
                />
            </td>
        </tr>
        <tr>
            <td><div>TelNumber:</div></td>
            <td colspan="3">
                <input 
                    type="tel"
                    class="form-control one-input input-text"
                    autocomplete="off"
                    [(ngModel)]="user.telNumber"
                    required
                />
            </td>
        </tr>
        <tr *ngIf="hasAdminRights">
            <td><div>Roles:</div></td>
            <td colspan="3">
                <mat-form-field>
                    <mat-chip-list #assignedRoles>
                        <mat-chip
                            *ngFor="let role of user.user.roles"
                            [removable]="true"
                            (removed)="unassignRole(role)"
                        >
                            {{ role.role }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input 
                            type="text"
                            matInput
                            [matAutocomplete]="auto"
                            [matChipInputFor]="assignedRoles"
                            required
                        />
                        <mat-autocomplete
                        autoActiveFirstOption
                        #auto="matAutocomplete"
                        (optionSelected)="assignRole($event.option.value)"
                    >
                        <mat-option
                            *ngFor="let role of roles"
                            [value]="role.role"
                        > {{ role.role }}
                        </mat-option>
                    </mat-autocomplete>
                    </mat-chip-list>
                </mat-form-field>
            </td>
        </tr>

    </table>
</div>
<div mat-dialog-actions>
    <div class="flex-display">
        <button mat-button class="btn btn-light button-action" (click)="onCancelModifications()">Cancel</button>
        <button mat-button class="btn btn-light button-action" (click)="onSaveModifications()" [disabled]="isSaveDisabled()">Save</button>
    </div>
</div>